/* 调整登出的字体图标 */
.layui-icon {
    margin-right: 5px;
    font-size: 18px;
    position: relative;
    top: 2px;

}


/*子菜单缩进*/
.layui-nav-child .layui-icon {
    margin-left: 15px;
    font-size: 16px;
}

/* 侧边栏的头像位置 div */
.userinfo {
    height: 60px;
    text-align: center;
    line-height: 60px;
}

/* 处理文字头像 */
.text-avatar {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    border-radius: 50%;
    background-color: #419488;
    font-size: 18px;
    margin-right: 5px;
    display: none;
}